head
  title Color Blend
  script(src="jquery.min.js")
  script(src ="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" type = 'text/javascript')
  link(href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css' rel='stylesheet' type='text/css')  
  script(src = 'underscore-min.js' type = 'text/javascript')

body 
  div(id='buttons')
    input(id='userPic' type='file' accept='image/*;capture=camera')
    button(id='submit').
      submit

  div(id='slider')

  select(id='sizeselector' name='sizeSelector')

  div(id='canvases')
    canvas(id='input-canvas')
    canvas(id='output-canvas')
  image(id ='idk')

  script(src='colorblend.js' type= 'text/javascript')
  link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css')