head
	title Color Blend 
	script(src = "http://code.jquery.com/jquery-1.11.0.min.js")
body 
	div(id='buttons')
		input(id='userPic' type='file' accept='image/*;capture=camera')
		button(id='submit').
			submit

	div(id='canvases')
	script(src='colorblend.js' type= 'text/javascript')
