head
	title Color Blend 
	script(src = "http://code.jquery.com/jquery-1.11.0.min.js")
body 
	div(id='buttons')
		input(id='userPic' type='file' accept='image/*;capture=camera')
		button(id='submit').
			submit
	
	div(id ='slider')

	div(id='canvases')
	image(id ='idk')
script(src ="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" type = 'text/javascript')
script(src = 'underscore-min.js' type = 'text/javascript')
script(src='colorblend.js' type= 'text/javascript')
link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css')
